#login{
    height: 100%;
    padding: 1.1rem .8rem 0;
    background: $white;
    .logo{
        @include textCenter;
        padding-bottom: .65rem;
        img{
            @include wh(1.42rem, 1.16rem)
        }
        p{
            @include sc(.4rem, $moreFont);
            @include fontBold;
            @include hl(1.14rem, 1.14rem)
        }
        span{
            color: $lessFont;
            font-weight: normal;
            padding: 0 .2rem
        }
    }
    .form-item{
        height: .86rem;
        margin-top: .25rem;
        position: relative;
        background-position: .08rem center;
        background-repeat: no-repeat;
        background-size: .4rem .4rem;
        background-color: #fff;
        input{
            background-color: transparent;
            @include hl(.85rem, .45rem);
            @include borderBottom;
            width: 100%;
            color: $moreFont;
            padding: .25rem .72rem .15rem;
        }
        i{
            position: absolute;
            bottom: .1rem;
            right: -.1rem;
            padding: .1rem;
            z-index: 999;
        }
    }
    .user-name{
        background-image: url(../images/username.png)
    }
    .pass-word{
        background-image: url(../images/password.png)
    }
    .my-btn{
        margin-top: 1.2rem
    }
    .forget-pass{
        @include hl(.8rem, .8rem);
        @include sc(.3rem, $dd);
        position: absolute;
        right: 0;
        bottom: -.8rem
    }
}
